<!DOCTYPE html>
<html>
<head>
    <title>My Application</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <div class="header">
        <div class="logo">로고 위치</div>
    </div>

    <div class="menu-container">
        <div class="dropdown">
            <button class="dropbtn">대분류1</button>
            <div class="dropdown-content">
                <a href="#">소분류1-1</a>
                <a href="#">소분류1-2</a>
                <a href="#">소분류1-3</a>
            </div> <!-- class dropdown-content -->
        </div> <!-- class dropdown -->
        <div class="dropdown">
            <button class="dropbtn">대분류2</button>
            <div class="dropdown-content">
                <a href="#">소분류2-1</a>
                <a href="#">소분류2-2</a>
                <a href="#">소분류2-3</a>
            </div> <!-- class dropdown-content -->
        </div> <!-- class dropdown -->
        <div class="dropdown">
            <button class="dropbtn">대분류3</button>
            <div class="dropdown-content">
                <a href="#">소분류3-1</a>
                <a href="#">소분류3-2</a>
                <a href="#">소분류3-3</a>
            </div> <!-- class dropdown-content -->
        </div> <!-- class dropdown -->
        <div class="login">
            <input type="text" placeholder="아이디">
            <input type="password" placeholder="비밀번호">
            <button>로그인</button>
        </div>
        <!-- 여기에 추가적인 대분류 항목이 들어갈 수 있습니다 -->
    </div> <!-- class menu-container -->

    <div class="mainsection">
        <div class="maintext">

        </div>
    </div>
</header>

<footer>
    <p>&copy; 2024 My Website</p>
</footer>
    <script src="/js/index.js"></script>
</body>
</html>